.btn_menu{
    color: black;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    text-align: center;
    border-radius: 30px;
}
.meu{
    text-align: center;
    background-color: wheat;
    border-radius: 20px;
    margin: 10px;
}
.box{
    height: auto;
    width: 500px;
    margin: auto;
    border: solid 1px black;
    border-radius: 30px;
    background-color: antiquewhite;
    padding: 15px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.price_box{
    color: red;
    margin-left: 20px;
}